<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title> Sign In Form</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <img id="logo" src="../all-images/logo.png">
    <div class="container">

        <form id="signupForm" action="../members/hr" method="post">
            <h2>HR</h2>


            <div class="input-box">
                <label for="gender">Select member:</label>
                <select style="width: 10rem; height: 30px;" id="members" name="id">

                    <!-- Add more options as needed -->
                </select>
            </div>

            <div class="input-box">
                <label for="committee">Select your committee:</label>
                <select style="width: 10rem; height: 30px;" id="committee" name="committee">
                    <option value="web">web</option>
                    <option value="AC mechanic">AC mechanic</option>
                    <option value="AC electric">AC electric</option>
                    <option value="PR">PR</option>
                    <option value="OC">OC</option>
                    <option value="media">media</option>
                    <option value="HR">HR</option>
                    <option value="Marketing">Marketing</option>
                    <!-- Add more options as needed -->
                </select>
            </div>


            <div class="btn">
                <input class="btn" type="submit" placeholder="phone Number">
                <!-- <i class='bx bxs-lock' style="margin-left: 85%;"></i> -->
            </div>



            <!-- <button type="button" class="btn" onclick="submitForm()">Sign Up</button> -->
            <div style="color: red;" class="message">

            </div>

        </form>

        <script>
            try {


                // <option value="female">female</option>
                onload = async function() {

                    const res = await fetch("../../members/getAllMembers");
                    if (await res.ok) {
                        const response = await res.json();
                        let members = response.data.members;
                        members.forEach(member => {
                            const splitcom = member.committee.split(' ', 1);
                            // console.log(splitcom);
                            if (splitcom == "HR") {

                                document.getElementById('members').innerHTML += `
                        <option data-id="${member._id}" value="${member._id}">${member.name}</option>   `
                            }

                        });
                        console.log(await response);

                    }

                }





                // fetch api 

                document.forms['signupForm'].addEventListener('submit', async (event) => {
                    event.preventDefault();
                    // TODO do something here to show user that form is being submitted
                    console.log(window.localStorage.getItem("token"));
                    let data = {
                        token: window.localStorage.getItem("token"),
                        id: event.target.id.value,
                        committee: event.target.committee.value
                    }

                    const response = await fetch(event.target.action, {
                        method: 'POST',
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(data) // event.target is the form
                    });
                    let JSONresponse = await response.json();
                    if (!response.ok) {

                        console.log(JSONresponse);
                        document.querySelector(".message").innerHTML = JSONresponse.message;

                    } else {
                        console.log('aaa', JSONresponse);

                        document.querySelector(".message").innerHTML = JSONresponse.message;

                    }



                })

            } catch (error) {
                console.log(error);
            }
        </script>

    </div>

</body>

</html>