<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <style>
        table,
        th,
        td {
            border: 3px solid rgb(77, 37, 82);
            border-collapse: collapse;
        }

        td,
        th {
            padding: 10px;
        }
    </style>
    <title>Admin</title>
</head>

<body>

    <h2>Assiut Robotics members Data</h2>
    <button id="btn" style="background-color: rgb(255, 207, 87);"> view data </button>
    <select name="committee" id="committee">
        <option value="All">All</option>
        <option value="web">web</option>
        <option value="AC mechanic">AC Mechanic</option>
        <option value="AC electric">AC Electric</option>
        <option value="PR">PR</option>
        <option value="OC">OC</option>
        <option value="media">Media</option>
        <option value="HR">HR</option>
        <option value="Marketing">Marketing</option>
    </select>
    <script>
        const ele = document.getElementById("committee");
        const role = window.localStorage.getItem("role");

        if (role != (1 && 2)) {
            ele.style.display = "none";

        }
    </script>
    <select name="gender" id="gender">
        <option value="All">All</option>
        <option value="male">male</option>
        <option value="female">female</option>
    </select>
    <select name="role" id="role">
        <option value="All">All</option>
        <option value=4>member</option>
        <option value=3>admin</option>
        <option value=2>head</option>
    </select>
    <!-- <select name="confirm" id="confirm">
            <option value="All">All</option>
            <option value="false">not confirmed</option>
            <option value="true">confirmed</option>
            
        </select> -->
    <br>
    <h3> Members Data: </h3>
    <div id="container"></div>
    <script>
        const getMembersData = () => {
            return fetch('../../members/getAllMembers')
                .then(data => data.json())
        }
        getMembersData().then((data) => {
                console.log(data);
                return data.data.members;
            }).then((jsonData) => {
                document.getElementById('btn').onclick = function() {
                    let container = $("#container");
                    let table = $("<table>");
                    let cols = Object.keys(jsonData[0]);
                    let thead = $("<thead>");
                    let tr = $("<tr>");
                    $.each(cols, function(i, item) {
                        let th = $("<th>");
                        th.text(item);
                        tr.append(th);
                    });
                    tr.append("accept")
                    thead.append(tr);

                    table.append(tr);
                    const role = window.localStorage.getItem("role");
                    let com;

                    if (role != (1 && 2)) {

                        com = window.localStorage.getItem("committee")
                    } else {
                        com = document.getElementById('committee').value;
                    }


                    let gen = document.getElementById('gender').value;
                    let rol = document.getElementById('role').value;
                    // let con = document.getElementById('confirm').value;
                    $.each(jsonData, function(i, item) {
                        if (((item.committee == com) || (com == "All")) &&
                            ((item.gender == gen) || (gen == "All")) &&
                            ((item.role == rol) || (rol == "All"))
                            // && ((item.confirm.toString() == con) || (con == "All"))
                        ) {
                            let tr = $("<tr>");
                            let vals = Object.values(item);
                            let button;
                            $.each(vals, (i, elem) => {
                                let td = $("<td>");
                                td.text(elem);

                                tr.append(td);

                            });
                            let td = $("<td>");
                            button = `    
                       <button onclick="confirm(4,dataset.id)" data-id="${item._id}"> accept </button>
                       <button onclick="confirm(3,dataset.id)" data-id="${item._id}"> make it head </button>
                       <button onclick="confirm(2,dataset.id)" data-id="${item._id}"> make it admin  </button>
                       <button onclick="confirm(0,dataset.id)" data-id="${item._id}"> remove</button>`;
                            td.append(button)
                            tr.append(td);
                            table.append(tr);
                        };

                    });
                    container.append(table)
                }
            })
            .catch(error => console.log('ERROR!'))



        const confirm = async (role, id) => {
            try {
                console.log(role);
                console.log(id);

                let data = {
                    token: window.localStorage.getItem("token"),
                    id: id,
                    role: role
                }
                const response = await fetch("../../members/confirm", {
                    method: "post",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(data)
                })
                const JSONresponse = await response.json();
                if (response.ok) {
                    console.log(JSONresponse);
                } else {
                    console.log("error", JSONresponse);
                    window.location.href = "../login/login.html";
                }

            } catch (error) {
                console.log(error);
            }
        }
    </script>
</body>

</html>