/* Body */

*,
::after,
::before {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
    font-family: sans-serif;
    line-height: 1.15;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eef0e5;
}

body {
    margin: 0px;
    padding: 100px 0 0 0;
}

/* Header */

.topnav {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #e0f4ff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.backdrop-container {
    display: none;
    position: fixed;
    z-index: 9000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 22px;
    flex: 1 0 100px;
    margin: 8px;
    border-radius: 20px;
    transition: all 0.3s ease;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
}

.topnav a:hover {
    background-color: #87c4ff;
    color: white;
}

.navbar-toggle {
    display: none;
    height: 45px;
    width: 45px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

.burger,
.burger::before,
.burger::after {
    content: "";
    display: block;
    background-color: black;
    height: 4px;
    width: 30px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.burger::before {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.burger::after {
    transform: translateY(6px);
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
}

.change .burger {
    background-color: transparent !important;
    transform: translate(0px, 1px);
}

.change .burger::before {
    transform: rotate(-45deg) translate(0px, 0px);
    -webkit-transform: rotate(-45deg) translate(0px, 0px);
    -moz-transform: rotate(-45deg) translate(0px, 0px);
    -ms-transform: rotate(-45deg) translate(0px, 0px);
    -o-transform: rotate(-45deg) translate(0px, 0px);
}

.change .burger::after {
    transform: rotate(45deg) translate(-3px, -3px);
    -webkit-transform: rotate(45deg) translate(-3px, -3px);
    -moz-transform: rotate(45deg) translate(-3px, -3px);
    -ms-transform: rotate(45deg) translate(-3px, -3px);
    -o-transform: rotate(45deg) translate(-3px, -3px);
}

.topnav a.active {
    background-color: #e0f4ff;
    flex-grow: 0;
    padding: 0;
    justify-content: flex-start;
}

.topnav .icon {
    display: none;
    border-radius: 10px;
    flex: 0 0 0;
    padding: 10px;
}

.flex-div2 {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.flex-div1 {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    width: 100%;
    flex: 0 0 200px;
}

.flex-responsive {
    display: none;
}

.logo-img {
    width: 120px;
    height: 60px;
    padding: 0;
    transition: filter 0.25s ease-in-out;
}

.logo-img:hover {
    filter: hue-rotate(45deg);
    -webkit-filter: hue-rotate(45deg);
}

.fade {
    animation-name: fadeAnim;
    animation-duration: 500ms;
}

@keyframes fadeAnim {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 980px) {
    .topnav a.active {
        float: left;
        display: flex;
        flex: 0 0 150px;
    }

    .navbar-toggle {
        float: right;
        display: flex;
    }

    .flex-div2 {
        display: none;
    }

    .flex-div1 {
        flex-direction: row;
        flex: 1;
    }

    .flex-responsive {
        display: flex;
        flex-grow: 4;
    }

    .topnav.responsive {
        flex-direction: column;
        transition: all 0.25s ease-in-out;
    }

    .topnav.responsive .icon {
        z-index: 100;
    }

    .topnav.responsive .flex-div2 {
        display: flex;
        visibility: visible;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-items: stretch;
        align-content: center;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }

    .topnav a {
        flex: 1 0 45px;
        width: 75%;
    }
}

/* Footer */

.myUniqueFooterClass {
    background-color: #414141;
    width: 100%;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    margin-top: 50px;
}

.myUniqueFooterClass .myUniqueFooterClass-left,
.myUniqueFooterClass .myUniqueFooterClass-center,
.myUniqueFooterClass .myUniqueFooterClass-right {
    display: inline-block;
    vertical-align: top;
}

/* footer left*/

.myUniqueFooterClass .myUniqueFooterClass-left {
    width: 33%;
    padding-right: 15px;
}

.myUniqueFooterClass .about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.myUniqueFooterClass .about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.myUniqueFooterClass .icons {
    margin-top: 25px;
    width: 50%;
    min-width: 180px;
    margin: 25px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.myUniqueFooterClass .icons a {
    display: inline-block;
    width: 60px;
    height: 35px;
    cursor: pointer;
    background-color: #374046;
    border-radius: 2px;
    font-size: 20px;
    color: #2685dd;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

/* footer center*/

.myUniqueFooterClass .myUniqueFooterClass-center {
    width: 30%;
}

.myUniqueFooterClass .myUniqueFooterClass-center i {
    background-color: #1073b1;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.myUniqueFooterClass .myUniqueFooterClass-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.myUniqueFooterClass .myUniqueFooterClass-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.myUniqueFooterClass .myUniqueFooterClass-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.myUniqueFooterClass .myUniqueFooterClass-center p a {
    color: #0099ff;
    text-decoration: none;
}

/* footer right*/

.myUniqueFooterClass .myUniqueFooterClass-right {
    width: 35%;
}

.myUniqueFooterClass h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
}

.myUniqueFooterClass h2 span {
    color: #0099ff;
}

.myUniqueFooterClass .menu {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.myUniqueFooterClass .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.myUniqueFooterClass .menu a:hover {
    color: #0099ff;
}

.myUniqueFooterClass .name {
    color: #0099ff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.contactIconsFooter {
    margin: 3px 10px;
    padding: 3px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    perspective: 1000px;
}

.contactIconsFooter:hover {
    opacity: 0.6;
    transform: scale(1.1) rotate(30deg);
    -webkit-transform: scale(1.1) rotate(30deg);
    -moz-transform: scale(1.1) rotate(30deg);
    -ms-transform: scale(1.1) rotate(30deg);
    -o-transform: scale(1.1) rotate(30deg);
}

@media (max-width: 767px) {
    .myUniqueFooterClass {
        font-size: 14px;
    }

    .myUniqueFooterClass .myUniqueFooterClass-left,
    .myUniqueFooterClass .myUniqueFooterClass-center,
    .myUniqueFooterClass .myUniqueFooterClass-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .myUniqueFooterClass .myUniqueFooterClass-center i {
        margin-left: 0;
    }
}

@media (hover: hover) {
    .navbar-toggle:hover {
        background-color: #76bbff;
        color: white;
    }

    .navbar-toggle:hover .burger,
    .navbar-toggle:hover .burger::before,
    .navbar-toggle:hover .burger::after {
        background-color: white;
    }
}
