<!DOCTYPE html>
<html lang="en">

<!-- header 




Main Page




-->


<head>
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assiut Robotics</title>

    <link rel="stylesheet" href="./main/View.css" />
    <link rel="stylesheet" href="./main/footerAndheader.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&amp;subset=latin-ext"
        rel="stylesheet" />
    <link rel="shortcut icon" href="../all-images/logo.ico" />
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <!-- header -->
    <div id="myUniqueHeaderID"></div>

    <div class="above-container">
        <div id="container">
            <span id="text1"></span>
            <span id="text2"></span>
        </div>
 
    </div>
    <div class="row mb-2">
        <h1>Our Team</h1>
    </div>

    <div class="image-slider">
        <section class="slider__content">
            <button type="button" class="slider-control--button prev-button">
                <svg width="16" height="16" fill="currentColor" class="icon arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                </svg>
            </button>
            <main class="image-display"></main>
            <button type="button" class="slider-control--button next-button">
                <svg width="16" height="16" fill="currentColor" class="icon arrow-right-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                </svg>
            </button>
        </section>
        <nav class="slider-navigation">
            <button class="nav-button" aria-selected="true">
                <img class="thumbnail" src="./all-images/RoboticsLap.jpg" alt="Thumbnail 1" />
            </button>
            <button class="nav-button" aria-selected="false">
                <img class="thumbnail" src="./all-images/rov111111111.jpg" alt="Thumbnail 2" />
            </button>
            <button class="nav-button" aria-selected="false">
                <img class="thumbnail" src="./all-images/mine.jpg" alt="Thumbnail 3" />
            </button>
            <button class="nav-button" aria-selected="false">
                <img class="thumbnail" src="./all-images/2.jpeg" alt="Thumbnail 4" />
            </button>
            <button class="nav-button" aria-selected="false">
                <img class="thumbnail" src="./all-images/Rov1.jpg" alt="Thumbnail 5" />
            </button>
            <button class="nav-button" aria-selected="false">
                <img class="thumbnail" src="./all-images/mine2.jpg" alt="Thumbnail 6" />
            </button>
            <button class="nav-button" aria-selected="false">
                <img class="thumbnail" src="./all-images/ourteam.jpg" alt="Thumbnail 6" />
            </button>
        </nav>
        <!-- <script src="inex.js"></script> -->
    </div>

    <section>

        <div class="row">
            <!-- Column 1-->
            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="./all-images/web.jpg" />
                    </div>
                    <a target="_blank">
                        <h3>Web Design Committee</h3>
                    </a>
                    <div class="card-description fade22">
                        The Web Design Committee focuses on creating and maintaining websites that are
                        user-friendly, visually appealing, and accessible.
                    </div>
                </div>
            </div>

            <!-- Column 2-->
            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="./all-images/oc.jpg" />
                    </div>
                    <a target="_blank">
                        <h3>OC Committee</h3>
                    </a>
                    <div class="card-description fade22">
                        The OC Committee ensures smooth execution of events by coordinating logistics, managing
                        schedules, and overseeing event operations to ensure everything runs efficiently and
                        effectively.
                    </div>
                </div>
            </div>
            <!-- Column 3-->
            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="./all-images/media.jpg" />
                    </div>
                    <a target="_blank">
                        <h3>Media Committee</h3>
                    </a>
                    <div class="card-description fade22">
                        The Media Committee is responsible for capturing and sharing the essence of our events
                        through photography, videography, and social media, ensuring a strong and positive online
                        presence.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Column 1-->
            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="./all-images/marketing.jpg" />
                    </div>
                    <a target="_blank">
                        <h3>Marketing Committee</h3>
                    </a>
                    <div class="card-description fade22">
                        The Marketing Committee drives engagement and awareness by developing creative campaigns,
                        managing promotional activities, and leveraging various marketing channels to reach our
                        target audience.
                    </div>
                </div>
            </div>

            <!-- Column 2-->
            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="./all-images/hr.jpg" />
                    </div>
                    <a target="_blank">
                        <h3>HR Committee</h3>
                    </a>
                    <div class="card-description fade22">
                        The HR Committee focuses on recruitment, training, and development, ensuring that we have a
                        motivated and well-prepared team to achieve our goals and maintain a positive organizational
                        culture.
                    </div>
                </div>
            </div>
            <!-- Column 3-->
            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="./all-images/pr.jpg" />
                    </div>
                    <a target="_blank">
                        <h3>PR Committee</h3>
                    </a>
                    <div class="card-description fade22">
                        The PR Committee manages the organization's public image by building relationships with
                        media, crafting press releases, and handling communications to maintain a positive and
                        professional reputation.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Footer-->
    <div id="myUniqueFooterID"></div>

    <script src="./main/View.js"></script>
    <script src="./main/footerAndheader.js" defer></script>

    <script>
        const token = window.localStorage.getItem("token");
        if (token) {
            console.log(token);
            document.getElementById("register").style.display = "none";
        }
    </script>
</body>

</html>