<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv='cache-control' content='no-cache'>
  <meta http-equiv='expires' content='0'>
  <meta http-equiv='pragma' content='no-cache'>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assiut Robotics</title>
  <link rel="stylesheet" href="main/View.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="topnav" id="myTopnav">
      <div class="flex-div1">
      <a href="" class="active">
        <img src="./all-images/logo.png" alt="Robotics-logo" class="logo-img">
      </a>
      <div class="flex-responsive"></div>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
      </div>
      <div class="flex-div2">
        <a href="./about-us/about-us.html" target="_blank"> </i>About Us</a>
        <a href="./achievements/index.html" target="_blank">Our Achievements</a>
        <a href="./blog/index.html" target="_blank">Blog</a>
        <a href="./login/signup.html" target="_blank" id="register">Register</a>
        <a href="./profile-page/index.html" target="_blank">profile</a>
        <a href="#footer">Contact Us</a>
      </div>
    </div>
  <div class="above-container">
    <div id="container">
      <span id="text1"></span>
      <span id="text2"></span>
    </div>
  </div>


  <!-- <svg id="filters">
          <defs>
              <filter id="threshold">
                  <feColorMatrix in="SourceGraphic" type="matrix" values="1 0 0 0 0
                                          0 1 0 0 0
                                          0 0 1 0 0
                                          0 0 0 255 -140" />
              </filter>
          </defs>
      </svg> -->



  <!-- <div class="break-div">

  </div> -->

  <section>
    <div class="row mb-2">
      <h1>Our Team</h1>
    </div>
    <div class="row">
      <!-- Column 1-->
      <div class="column">
        <div class="card">
          <div class="img-container">
            <img src="./all-images/web.jpg" />
          </div>
          <a target="_blank">
            <h3>Web Design Committee</h3>
          </a>
          <div class="card-description">
            The Web Design Committee focuses on creating and maintaining websites that are user-friendly, visually appealing, and accessible.
          </div>
        </div>
      </div>

      <!-- Column 2-->
      <div class="column">
        <div class="card">
          <div class="img-container">
            <img src="./all-images/oc.jpg" />
          </div>
          <a target="_blank">
            <h3>OC Committee</h3>
          </a>
          <div class="card-description">
            The OC Committee ensures smooth execution of events by coordinating logistics, managing schedules, and overseeing event operations to ensure everything runs efficiently and effectively.
          </div>
        </div>
      </div>
      <!-- Column 3-->
      <div class="column">
        <div class="card">
          <div class="img-container">
            <img src="./all-images/media.jpg" />
          </div>
          <a target="_blank">
            <h3>Media Committee</h3>
          </a>
          <div class="card-description">
            The Media Committee is responsible for capturing and sharing the essence of our events through photography, videography, and social media, ensuring a strong and positive online presence.
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <!-- Column 1-->
      <div class="column">
        <div class="card">
          <div class="img-container">
            <img src="./all-images/marketing.jpg" />
          </div>
          <a target="_blank">
            <h3>Marketing Committee</h3>
          </a>
          <div class="card-description">
            The Marketing Committee drives engagement and awareness by developing creative campaigns, managing promotional activities, and leveraging various marketing channels to reach our target audience.
          </div>
        </div>
      </div>

      <!-- Column 2-->
      <div class="column">
        <div class="card">
          <div class="img-container">
            <img src="./all-images/hr.jpg" />
          </div>
          <a target="_blank">
            <h3>HR Committee</h3>
          </a>
          <div class="card-description">
            The HR Committee focuses on recruitment, training, and development, ensuring that we have a motivated and well-prepared team to achieve our goals and maintain a positive organizational culture.
          </div>
        </div>
      </div>
      <!-- Column 3-->
      <div class="column">
        <div class="card">
          <div class="img-container">
            <img src="./all-images/pr.jpg" />
          </div>
          <a target="_blank">
            <h3>PR Committee</h3>
          </a>
          <div class="card-description">
            The PR Committee manages the organization's public image by building relationships with media, crafting press releases, and handling communications to maintain a positive and professional reputation.
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Footer-->

  <footer id="footer" class="footer">
    <div class="footer-left col-md-4 col-sm-6">
      <p class="about">
        <span> About the Team</span> Ut congue augue non tellus bibendum, in varius tellus condimentum. In scelerisque
        nibh tortor, sed rhoncus odio condimentum in. Sed sed est ut sapien ultrices eleifend. Integer tellus est,
        vehicula eu lectus tincidunt,
        ultricies feugiat leo. Suspendisse tellus elit, pharetra in hendrerit ut, aliquam quis augue. Nam ut nibh
        mollis, tristique ante sed, viverra massa.
      </p>
      <div class="icons">
        <a href="https://www.facebook.com/robotics.assiut" class="contact_icons"><i class="fa fa-facebook fa-2x "></i></a>
        <a href="https://youtube.com/@assiutrobotics" class="contact_icons"><i class="fa fa-youtube fa-2x"></i></a>
        <a href="https://www.linkedin.com/company/assiut-robotics/" class="contact_icons"><i class="fa fa-linkedin fa-2x"></i></a>
        <a href="https://www.instagram.com/assiutrobotics" class="contact_icons"><i class="fa fa-instagram fa-2x"></i></a>
      </div>
    </div>
    <div class="footer-center col-md-4 col-sm-6">
      <div style="margin-bottom: 15px;">
        <i class="fa fa-map-marker"></i>
        <p><span>Faculty of Engineering Assiut University</span> Assiut, Egypt</p>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:assiutrobotics@gmail.com">assiutrobotics@gmail.com</a></p>
      </div>
    </div>
    <div class="footer-right col-md-4 col-sm-6">
      <h2> Assiut Robotics <span> Team</span></h2>
      <p class="menu">
        <a href="/"> Home</a> |
        <a href="./about-us/about-us.html"> About Us</a> |
        <a href="./blog/index.html"> Blog</a> |
        <a href="./achievements/index.html"> Our Achievements</a> |
        <a href="./login/signup.html"> Register</a> |
        <a href="#"> Contact Us</a>
      </p>
      <p class="name"> Made by Web Design Team &copy; 2023-2024</p>
    </div>
  </footer>
  <script src="./main/View.js"></script>


  <script>
    const token = window.localStorage.getItem('token');
    if (token) {
      console.log(token);
      document.getElementById('register').style.display = 'none';
    }
  </script>
</body>

</html>