* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

body {
    /* background-image: url(../images/background-all-pages.jpg); */
    background-color: #eef0e5;
    background-size: cover;
    background-position: center;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*Small*/
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/*meduim*/
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/*large*/
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/*Start Nav*/
nav {
    padding: 25px 20px;
}

#logo {
    width: 110px;
    height: 60px;
    /* margin-left: 35px; */
    /* margin-top: 35px; */
}

.control-buttons-div {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logout-button {
    margin: 10px 10px;
    background-color: #2aa9f3;
    text-align: center;
    line-height: 30px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    width: 120px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    border: 1.5px solid black;
}

.control-buttons {
    height: max-content;
    text-decoration: none;
    color: white;
    width: max-content;
}

.control-buttons-div a {
    width: 130px;
    height: 40px;
    background-color: #2aa9f3;
    color: white;
    text-align: center;
    border-radius: 20px;
    /*delete the comment from display */
    /* display: none; */
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

nav i {
    font-size: 40px;
    position: absolute;
    right: 38px;
    top: 36px;
    color: #2aa9f3;
    cursor: pointer;
}

#nav-bar-phone {
    display: none;
}

.phone-respons {
    background-color: #e0f4ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    z-index: 2;
    width: 100%;
    position: absolute;
    left: 0;
}

.phone-respons a {
    color: black;
    text-align: center;
    font-size: 25px;
    width: 260px;
    padding: 10px 0;
    /*delete the comment from display */
    /* display: none; */
    
}

.phone-respons a:hover {
    background-color: #2aa9f3;
    border-radius: 20px;
}
.active{
    display: flex;
}
.phone-respons .hidden{
    display: none;
}

/*End nav*/
/*Start container-main */
.container-main {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: stretch;
}

.left {
    display: flex;
    width: 25%;
    background-image: linear-gradient(to left, #2aa9f3 5%, #8ecff2);
    /* background-image: linear-gradient(to right, #2aa9f3 50%,#fff); */
    color: #fff;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.left img {
    margin: 20px;
    border: 2px solid #104068;
    border-radius: 50%;
}

.left .info {
    /* margin: -20% 29%; */
    text-align: center;
}

.info h2 {
    font-size: 27px;
    margin-bottom: 15%;
}

.info p {
    font-size: 25px;
    margin-bottom: 20%;
}

.info i {
    cursor: pointer;
}

.right {
    width: 60%;
    background-color: #fff;
    padding-top: 2%;
}

hr {
    width: 80%;
    margin: 5px auto;
}

.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: stretch;
    padding: 2% 2% 2% 10%;
}

.contact p {
    padding: 5px 0;
}

/*Start Rating Section*/
.rate-cards {
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    justify-content: center;
}

.rate-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% - 30px)/3);
    background-color: #eee;
    padding: 20px;
    border-radius: 10px;
    /* position: relative; */
}
.rate-cards .card .more{
    font-size: 15px;
    color: #104068;
    cursor: pointer;
}

/*Order of months */
.rate-cards .card[data-importance="1"] {
    order: 1;
}

.rate-cards .card[data-importance="2"] {
    order: 2;
}

.rate-cards .card[data-importance="3"] {
    order: 3;
}

/* Hide medium importance month */
@media (max-width: 800px) {
    .rate-cards .card {
        width: calc((100% - 30px)/2);
    }

    .rate-cards .card[data-importance="1"] {
        display: none;
    }
}

/* Hide the month with the least importance */
@media (max-width: 500px) {
    .rate-cards .card[data-importance="2"] {
        display: none;
    }

    .rate-cards .card {
        width: 300px;
    }
}

.circular-progress {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inner-circle {
    position: absolute;
    width: calc(110px - 30px);
    height: calc(110px - 30px);
    border-radius: 50%;
    background-color: #eee;
}

.percentage {
    position: relative;
    font-size: 23px;
}

.rate-cards .month {
    font-size: 22px;
    font-weight: 500;
    color: #696a68;
    margin-top: 10px;
}

.popup {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.288);
}
.popup-text{
    background-color: #2daee2;
    margin-left: 35vw;
    margin-right: 35vw;
    margin-top: 250px;
    border-radius: 7px;
    padding: 10px;
}
.popup-text p{
    font-size: 19px;
    font-weight: 400;
    color: white;
}

/*End Rating  Section*/
.contact .titles,
.works .titles {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 18%;
    padding-top: 5%;
}

.title {
    margin-left: 10%;
    padding-bottom: 0.5%;
}

.bolding {
    font-size: 22px;
    font-weight: 600;
    color: #104068;
    margin-bottom: 15px;
}

.infoo {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 18%;
    padding-top: 1%;
    font-size: 18px;
    color: #858585;
}

.social {
    width: 15%;
    padding-left: 10%;
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    color: #104068;
    margin-bottom: 2%;
}

.social i {
    cursor: pointer;
    margin: 10px;
}

/*End container-main*/

@media screen and (max-width: 800px) {
    .container-main {
        height: max-content;
    }

    .content {
        flex-direction: column;
        width: 95%;
        align-items: center;
    }

    .left {
        width: 90%;
        padding: 20px 10px;
    }

    .right {
        width: 90%;
        padding: 20px 10px;
    }

    .left img {
        margin: 10px;
        border: 2px solid #104068;
        border-radius: 50%;
        height: 80px;
        width: 80px;
    }

    .info h2 {
        font-size: 18px;
        margin-bottom: 10%;
        padding: 5px;
    }

    .info p {
        font-size: 16px;
        margin-bottom: 15%;
        padding: 5px;
    }

    #control-panel,
    #head-hr,
    #OC-page,
    #blog-page {
        margin: 10px 10px;
    }

    .logout-button {
        margin: 10px 10px;
    }
}

.disabled {
    display: none;
}