body {
    padding: 0;
    margin: 0;
    height: 1000px;

}

:root {
    --dark-color: #19283f;
}

.logo {
    margin: auto;
    background: url(../images/background.jpg);
    width: 100%;
    height: 100vh;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;

}

.section1 {
    display: block;
    margin: auto;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 12px;
    margin-top: 150px;
    padding: 15px 45px;
    width: 480px;
}

.sublogo {
    width: 110px;
    float: left;
    margin: 0px;
    margin-left: 31px;
    height: 60px;
}

nav {
    border-bottom: 3px solid #5da4d0;
    background: linear-gradient(to right, rgba(0, 0, 0, .9), rgba(10, 40, 70, .7));
    font-size: 20px;
}

.nav-links-2 {
    color: white !important;
    position: absolute;
    right: 0;
    bottom: 0;
}

.nav-links-3 {
    color: white !important;
    position: absolute;
    right: 12%;
    bottom: 0;
}

.abstract {
    background-color: rgba(10, 40, 70, .5);
    border-radius: 25px;
    background-size: 100px;

}

.text {
    font-size: 20px;
}

.abstract h1 {
    color: #5da4d0;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    padding: 20px;
    width: 600px;
    border-radius: 12px;
    margin: 50px auto;
}

.carousel-inner {
    overflow: hidden;
    height: 100% !important;
    padding: 7 px;
    border-radius: 30px;
}

.carousel {
    height: 500px;
}

.carousel img {
    max-width: 100%;
    height: 450px;
    object-fit: cover;
    background-size: cover;
    width: 100%;
}

@media screen and (min-width: 1000px) {
    .carousel img {
        height: 650px;
    }
}

/* footer */
.footer {
    background: linear-gradient(to right, rgba(0, 0, 0, .9), rgba(10, 40, 70, .7));
    border-top: 4px solid #5da4d0;
}

.footer .facebook {
    color: #1877f2;
}

.footer .linkedin {
    color: #0077b5;
}

.footer .youtube {
    color: #ff0000;

}

span {
    color: #ffc400;
}





.sectionns {
    background: linear-gradient(to right, rgba(10, 40, 70, .7), rgba(0, 0, 0, .8));
    border-top: 4px solid #5da4d0;
}

footer div.social {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    ;
    margin: auto;
    overflow-x: hidden;
    margin: 4px;
}

footer div a img {
    width: 90px;
    padding: 10px 7px;
    transition: all .7s;
}

.fs-7 {
    color: white;
    margin-bottom: 2rem;
}

footer div a img:hover {
    transform: scale(1.2) rotateZ(360deg);
    -webkit-transform: scale(1.2) rotateZ(360deg);
    -moz-transform: scale(1.2) rotateZ(360deg);
    -ms-transform: scale(1.2) rotateZ(360deg);
    -o-transform: scale(1.2) rotateZ(360deg);
}

footer div p {
    padding-bottom: 10px;
    text-align: center;
    color: white;
    font-size: 26px;
}