body {
    padding: 0;
    margin: 0;
    height: 1000px;
    font-size: 2vh;
}

:root {
    --dark-color: #19283f;
}


.container-sec {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*Small*/
@media (min-width:768px) {
    .container-sec {
        max-width:860px;
    }
}

/*meduim*/
@media (min-width:992px) {
    .container-sec {
        max-width: 930px;
    }
}

/*large*/
@media (min-width:1200px) {
    .container-sec {
        max-width: 1170px;
    }
}


/* start nav bar */
.nav-section a, .nav-section ul, .nav-section li {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none !important;
    color: white !important;
}

.nav-section {
    width: 100%;
    border-bottom: 3px solid #5da4d0;
    background: linear-gradient(to right, rgba(0, 0, 0, .9), rgba(10, 40, 70, .7));
    font-size: 2.4vh;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 12vh;
}

.nav-container {
    padding-left: 12px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.sublogo {
    width: auto;
    float: left;
    margin: 0px;
    margin-left: 31px;
    height: 7vh;
}

.nav-links {
    display: flex;
    gap: 4vw;
    justify-content: space-between;
    flex-direction: row;

}

/* End nav bar */

/*start logo*/
.logo {
    height: calc(100vh - 12vh);
    background: url(../images/background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
}

.section1 {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 12px;
}

/*End logo*/

.abstract {
    background-color: rgba(10, 40, 70, .5);
    border-radius: 25px;
    background-size: 100px;

}

.text {
    font-size: 3vh;
}

@media (max-width:450px) {
    .text {
        font-size: 30px !important;
    }
}


.abstract h1 {
    color: #5da4d0;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    padding: 20px;
  font-size: 4vh !important;
    border-radius: 12px;
    margin-bottom: 20px;
}
.abstract .row{
    flex-wrap: wrap-reverse !important;
}

.abstract .container {
    padding-top: 10px;
}



.abstract p {
    margin: 0;
}

.carousel-inner {
    overflow: hidden;
    height: 100% !important;
    padding: 7 px;
    border-radius: 30px;
}

.carousel {
    height: 420px;
}

.carousel img {
    max-width: 100%;
    height: 450px;
    object-fit: cover;
    background-size: cover;
    width: 100%;
}

@media screen and (min-width: 1000px) {
    .carousel img {
        height: 650px;
    }
}

/* footer */
.footer {
    background: linear-gradient(to right, rgba(0, 0, 0, .9), rgba(10, 40, 70, .7));
    border-top: 4px solid #5da4d0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;

}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;

}

.footer p {
    margin: 0;
    color: #ffc400;
    font-size: 1.8vh;
}

.footer .social {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 8px;
}






.sectionns {
    background: linear-gradient(to right, rgba(10, 40, 70, .7), rgba(0, 0, 0, .8));
    border-top: 4px solid #5da4d0;
}


.footer div a img {
    width: 6vw;
    height: 6vh;
    transition: all .7s;
}





.footer div a img:hover {
    transform: scale(1.2) rotateZ(360deg);
    -webkit-transform: scale(1.2) rotateZ(360deg);
    -moz-transform: scale(1.2) rotateZ(360deg);
    -ms-transform: scale(1.2) rotateZ(360deg);
    -o-transform: scale(1.2) rotateZ(360deg);
}