<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv='cache-control' content='no-cache'> 
    <meta http-equiv='expires' content='0'> 
    <meta http-equiv='pragma' content='no-cache'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="abdullah.css">
    <title> Sign In Form</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <img id="logo" src="photos\logo.png">
    <div class="container">

        <form id="signupForm" action="../members/createAccount" method="post">
            <h2>MEMBER SIGN UP</h2>
            <div class="input-box">
                <input type="text" name="name" placeholder="Username" required>
                <i class='bx bxs-user' style="margin-left: 80%;"></i>
            </div>
            <div class="input-box">
                <input type="text" name="email" placeholder="Email" required>
                <i class='bx bxs-user' style="margin-left: 80%;"></i>
            </div>
            <div class="input-box">
                <input class="password" type="password" name="password" placeholder="password" required>
                <i class='bx bxs-lock' style="margin-left: 80%;"></i>
            </div>
            <div class="input-box">
                <input class="confirm_password" type="password" name="confirm_password" placeholder="confirm_password" required>
                <i class='bx bxs-lock' style="margin-left: 80%;"></i>
            </div>
            <div class="input-box">
                <label for="committee">Select your committee:</label>
                <select style="width: 10rem; height: 30px;" id="committee" name="committee">
                    <option value="web">web</option>
                    <option value="AC mechanic">AC mechanic</option>
                    <option value="AC electric">AC electric</option>
                    <option value="PR">PR</option>
                    <option value="OC">OC</option>
                    <option value="media">media</option>
                    <option value="HR">HR</option>
                    <!-- Add more options as needed -->
                </select>
            </div>
            <div class="input-box">
                <label for="gender">Select your gender:</label>
                <select style="width: 10rem; height: 30px;" id="gender" name="gender">
                    <option value="male">male</option>
                    <option value="female">female</option>
                    <!-- Add more options as needed -->
                </select>
            </div>
            <div class="input-box">
                <input type="text" name="phoneNumber" placeholder="phone Number" required>
                <i class='bx bxs-lock' style="margin-left: 85%;"></i>
            </div>
            <div class="btn">
                <input class="btn" type="submit" placeholder="phone Number" value="sign up">
                <!-- <i class='bx bxs-lock' style="margin-left: 85%;"></i> -->
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox" name="remember"> Remember me</label>
                <a href="#">Forgot Password?</a>
            </div>

  
            <!-- <button type="button" class="btn" onclick="submitForm()">Sign Up</button> -->
            <div style="color: red;" class="message">

            </div>
            <div class="register-link">
                <p>Have an account? <a href="./login.html">Log in</a></p>
            </div>
        </form>

        <script>
           try {
            
            document.querySelector(".confirm_password").addEventListener('input',()=>{
                const password=document.querySelector(".password").value;
                let confirm_password=document.querySelector(".confirm_password").value;
                if(password!=confirm_password){
                    document.querySelector(".message").innerHTML="password not matched"

                }else{
                    document.querySelector(".message").innerHTML=""
                }
                console.log("input",password,confirm_password);
            })

            

            // fetch api 

            document.forms['signupForm'].addEventListener('submit',async (event)=>{
                event.preventDefault();
                // TODO do something here to show user that form is being submitted
                const response=await fetch(event.target.action, {
                    method: 'POST',
                    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                });
                let JSONresponse=await response.json();
                if(!response.ok){
                    
                    console.log(JSONresponse);       
                    document.querySelector(".message").innerHTML=JSONresponse.message;

                }else {
                    console.log('aaa',JSONresponse);
                    
                    document.querySelector(".message").innerHTML=JSONresponse.message;

                }
         

                
            })
            
           } catch (error) {
            console.log(error);
           }
        </script>

    </div>

</body>

</html>
