<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="login.css">
    <title> Sign In Form</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../main/footerAndheader.css" />
    <link rel="shortcut icon" href="../all-images/logo.ico" />
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

    <!-- header -->
    <div id="myUniqueHeaderID"></div>

    <div class="container">

        <form id="signupForm" action="../members/verifyEmail" method="post">
            <h2>MEMBER SIGN UP</h2>
            <div class="input-box">
                <input type="text" name="name" placeholder="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="email" name="email" placeholder="Email" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input class="password" type="password" name="password" placeholder="password" required>
                <i class='bx bxs-lock'></i>
            </div>
            <div class="input-box">
                <input class="confirm_password" type="password" name="confirm_password" placeholder="confirm_password" required>
                <i class='bx bxs-lock'></i>
            </div>
            <div style="color: red;" class="matched">

            </div>
            <div class="input-box">
                <label for="committee">Select your committee:</label>
                <select style="width: 10rem; height: 30px;" id="committee" name="committee">
                    <option value="web">Web</option>
                    <option value="AC mechanic">AC mechanical</option>
                    <option value="AC electric">AC electrical</option>
                    <option value="PR">PR</option>
                    <option value="OC">OC</option>
                    <option value="media">media</option>
                    <option value="HR">HR</option>
                    <option value="Marketing">Marketing</option>
                    <!-- Add more options as needed -->
                </select>
            </div>
            <div class="input-box">
                <label for="gender">Select your gender:</label>
                <select style="width: 10rem; height: 30px;" id="gender" name="gender">
                    <option value="male">male</option>
                    <option value="female">female</option>
                    <!-- Add more options as needed -->
                </select>
            </div>

            <div class="input-box">
                <input type="text" name="phoneNumber" placeholder="phone Number" required>
                <i class='bx bxs-lock' style="margin-left: 85%;"></i>
            </div>
            <!-- <div class="input-box">
                <label for="picture">upload profile picture</label>
                <input type="file" name="avatar" id="picture">
            </div> -->
            <div class="btn">
                <input class="btn" type="submit" value="sign up">
                <!-- <i class='bx bxs-lock' style="margin-left: 85%;"></i> -->
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox" name="remember"> Remember me</label>
            </div>


            <!-- <button type="button" class="btn" onclick="submitForm()">Sign Up</button> -->
            <div style="color: red;" class="message">

            </div>
            <div class="register-link">
                <p>Have an account? <a href="./login.html">Log in</a></p>
            </div>
        </form>

        <script>
            try {

                document.querySelector(".confirm_password").addEventListener('input', () => {
                    const password = document.querySelector(".password").value;
                    let confirm_password = document.querySelector(".confirm_password").value;
                    if (password != confirm_password) {
                        document.querySelector(".matched").innerHTML = "password not matched"

                    } else {
                        document.querySelector(".matched").innerHTML = ""
                    }
                    console.log("input", password, confirm_password);
                })


                // console.log(myform);
                // fetch api 

                document.forms['signupForm'].addEventListener('submit', async (event) => {
                    event.preventDefault();
                    // TODO do something here to show user that form is being submitted
                    // Create a FormData object
                    const formData = new URLSearchParams(new FormData(event.target))

                    const element = document.getElementById("signupForm")
                    const data = new FormData(element)
                    const form = Array.from(data.entries())

                    // Append file input data to FormData object
                    // const fileInput = document.getElementById('picture');
                    // console.log('avatar', fileInput.files[0]);
                    // formData.append('avatar', fileInput.files[0]);
                    console.log(formData);
                    const response = await fetch(event.target.action, {
                        method: 'POST',

                        body: new URLSearchParams(new FormData(event.target))
                    });
                    let JSONresponse = await response.json();
                    if (!response.ok) {

                        console.log(JSONresponse);
                        document.querySelector(".message").innerHTML = JSONresponse.message;

                    } else {
                        console.log('aaa', JSONresponse);

                        document.querySelector(".message").innerHTML = JSONresponse.message;

                    }



                })

            } catch (error) {
                console.log("error: ", error);
            }
        </script>

    </div>

    <!--Footer-->
    <div id="myUniqueFooterID"></div>

    <script src="../main/footerAndheader.js" defer></script>

</body>

</html>