<!DOCTYPE html>
<html>

<head>
  <title>MINESWEEPERS</title>
  <link rel="shortcut icon" href="../all-images/logo.ico" />
  <link rel="stylesheet" href="css/style_mins.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;1,300;1,500&display=swap"
    rel="stylesheet" />
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <div class="navbar-collapse position-relative" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li>
            <img src="images/sublogo.png" class="sublogo">
          </li>

          <li class="nav-item">
            <a class="nav-link active nav-links-2" aria-current="page"
              href="#">Main Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-links-3" href="#section6">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- logo -->
  <div class="logo">
    <div class="section1 text text-center">
      <img src="images/mines.png" id="log" />
    </div>

    <!-- </div> -->
  </div>

  <!-- logo -->
  <!-- abstract -->
  <div class="abstract my-4 mx-5 text-center pb-5 pt-5">
    <div class="container pb-5">
      <h1><bdi>ABSTRACT</bdi></h1>
      <div class="row align-items-center">
        <div class="col-lg-4 mb-4 text-center text-md-start">
          <div class="text">
            <p class="" style="color: white">
              A minesweeper is a robotic ground vehicle that is manually
              controlled and is able to search an area, detect mines on that
              area, determine whether the mines are placed on the surface or
              burried underthe ground. With the help of its gripper, our
              minesweeper can collect surface mines. After sweeping the whole
              area, the robot can generate a map of all different types of the
              mines found.
            </p>
          </div>
        </div>

        <!-- slide begin -->
        <div id="carouselExampleControls" class="carousel slide col-lg-8 mb-4 text-center text-md-start"
          data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active text-center text-md-end">
              <img src="images/mine4.jpg" class="img-fluid" />
            </div>
            <div class="carousel-item text-center text-md-end">
              <img src="images/mine5.jpg" class="img-fluid" />
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- slide end -->

        <!-- <img src="images/mine4.jpg" class="img-fluid">
              
                    <img src="images/mine5.jpg" class="img-fluid"> -->
      </div>
    </div>
  </div>

  <!-- MINESWEEPER participations -->
  <div class="abstract my-4 mx-5 text-center pb-5 pt-5">
    <div class="container pb-5">
      <h1><bdi>MINESWEEPER participations</bdi></h1>
      <div class="row align-items-center">
        <div class="col-lg-4 mb-4 text-center text-md-start">
          <div class="text">
            <p class="fs-8" style="color: white">
              We started participating in Minesweeper competition since 2016
              and won 6th in our first time, our second trial was in 2017 and
              we won 5th place indicating progress from the year before.The
              next year in 2019 we decided to continue the journey and won 3rd
              place in the local competition and qualifying for the
              international in Macau, China. After preparing and making a new
              robot with advanced features, we were able to win 1st place
              internationally and "Best Innovative Idea" Award.We intended to
              join to join in the 2020 edition but it was cancelled due to
              Covid-19. In 2022, we participated in ARC (Alamein Robotics
              Championship) and qualified for the international competition,
              and we're still waiting for the results.
            </p>
          </div>
        </div>

        <!-- slide begin -->
        <div id="carouselExampleControls2" class="carousel slide col-lg-8 mb-4 text-center text-md-start"
          data-bs-ride="carousel">
          <div class="carousel-inner w-100 h-100">
            <div class="carousel-item active text-center text-md-end">
              <img src="images/mine2.jpg" class="img-fluid" />
            </div>
            <div class="carousel-item text-center text-md-end">
              <img src="images/mine3.JPG" class="img-fluid" />
            </div>
            <div class="carousel-item text-center text-md-end">
              <img src="images/MINE1.png" class="img-fluid" />
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- slide end -->
      </div>
    </div>
  </div>

  <!-- footer -->
  <div id="section6" class="sectionns">
    <footer>
      <a></a>
      <div class="social">
        <a href="https://www.facebook.com/robotics.assiut/"><img
            src="images/if_facebook_social_media_online_1005353.svg" class="wow bounceInRight" data-wow-duration="1.7s"
            data-wow-delay=".4s" /></a>
        <a href="https://www.youtube.com/channel/UCdjCScWUwuZ11Rj5YEZ7BqQ"><img
            src="images/if_youtube_social_media_online_1005320.svg" class="wow bounceInRight" data-wow-duration="1.7s"
            data-wow-delay=".7s" /></a>
        <a href="https://www.linkedin.com/company/assiut-robotics/"><img
            src="images/if_linkedin_social_media_online_1005341.svg" class="wow bounceInRight" data-wow-duration="1.7s"
            data-wow-delay="1s" /></a>
      </div>
      <div>
        <p style="color: #0ca4a9" class="wow fadeIn" data-wow-delay=".7s" data-wow-duration="4s">
          All Copy rights to &copy ASSIUT ROBOTICS
        </p>
      </div>
    </footer>
  </div>

  <!-- script -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>