<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA- compatible" content="IE=edge" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>ِAssiut Robotics Achievements</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../main/footerAndheader.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../all-images/logo.ico" />
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body id="body">


    <!-- header -->
    <div id="myUniqueHeaderID"></div>

    <header class="header">
        <img class="logo" src="../all-images/logo.png" alt="Logo">
        <div class="header-div">
            <h1>The Assiut Robotics</h1>
            <span>Achievements</span>
        </div>
    </header>
    <div class="page-container">
        <div class="row">

            <section class="column">
                <a href="../achievements/index_rov.html" target="_blank">
                    <div class="text-container card">
                        <div class="Ach_IMG">
                            <img src="../all-images/ROV2017.png" alt="Ach">
                        </div>
                        <div class="content-container" id="content1">
                            <h1 class="text-title">ROV 2017 Competition</h1>
                            <p class="text-content">
                                The 2017 ROV ("Remotely Operated Vehicle") Competition, organized by the Marine Advanced
                                Technology Education (MATE)
                                Center, was a prestigious international event focused on promoting innovation in
                                underwater
                                robotics. Teams from around the world participated, showcasing their skills in
                                designing,
                                building, and operating ROVs to complete a series of complex underwater tasks. The
                                competition aimed to inspire students to pursue careers in science, technology,
                                engineering,
                                and mathematics (STEM) by providing a real-world context for learning and collaboration.
                            </p>
                            <button type="button" class="toggle-content" onclick="toggleContent('content1')">Show
                                more</button>
                        </div>
                    </div>
                </a>
            </section>
            <section class="column">
                <a href="../achievements/index_mins.html" target="_blank">
                    <div class="text-container card">
                        <div class="Ach_IMG">
                            <img src="../all-images/mines.png" alt="Ach">
                        </div>
                        <div class="content-container" id="content2">
                            <h1 class="text-title">Minesweepers Competition</h1>
                            <p class="text-content">
                                The Minesweepers Competition is an international event aimed at developing advanced
                                robotic
                                solutions for the detection and clearance of landmines and unexploded ordnances. This
                                competition encourages innovation and collaboration among teams from around the world,
                                focusing on creating safe, effective, and efficient robotic systems that can operate in
                                challenging environments. By bringing together participants with diverse skills in
                                robotics,
                                electronics, and software engineering, the Minesweepers Competition plays a crucial role
                                in
                                advancing technology for humanitarian demining efforts.
                            </p>
                            <button type="button" class="toggle-content" onclick="toggleContent('content2')">Show
                                more</button>
                        </div>
                    </div>
                </a>
            </section>
        </div>
        <div class="row">
            <section class="column">
                <a href="../achievements/index_micro.html" target="_blank">
                    <div class="text-container card">
                        <div class="Ach_IMG">
                            <img src="../all-images/micrologo.png" alt="Ach">
                        </div>
                        <div class="content-container" id="content3">
                            <h1 class="text-title">Micromouse Competition</h1>
                            <p class="text-content">
                                The Micromouse competition involves small autonomous robots navigating a 16×16 maze
                                grid. Each cell in the maze is 180 mm square with 50 mm high walls. The robots start
                                from a predetermined position and aim to reach the central area of the maze
                                independently. They track their position, discover walls as they explore, and recognize
                                when they reach the goal. After finding the goal, robots usually conduct additional
                                searches to identify the optimal route. Once the optimal path is determined, the robots
                                race to complete the maze in the shortest possible time.
                            </p>
                            <button type="button" class="toggle-content" onclick="toggleContent('content3')">Show
                                more</button>
                        </div>
                    </div>
                </a>
            </section>
        </div>
        <!--Footer-->
        <div id="myUniqueFooterID"></div>
    </div>
    <script src="script.js"></script>
    <script src="../main/footerAndheader.js" defer></script>
</body>

</html>