<!DOCTYPE html>
<html>

<head>

  <title>ASSIUT ROVERS</title>
  <link rel="shortcut icon" href="../all-images/logo.ico" />
  <link rel="stylesheet" href="css/style_rov.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;1,300;1,500&display=swap"
    rel="stylesheet">
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <div class="navbar-collapse position-relative" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li>
            <img src="images/sublogo.png" class="sublogo">
          </li>
          <li class="nav-item">
            <a class="nav-link active nav-links-2" aria-current="page" href="#">Main Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-links-3" href="#section6">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- logo -->
  <div class="logo ">
    <div class="section1  text text-center">
      <img src="images/ROVLOGO.png" class="log">
    </div>



    <!-- </div> -->
  </div>

  <!-- logo -->
  <!-- abstract -->
  <div class="abstract  my-4 mx-5 text-center pb-5 pt-5">
    <div class="container  pb-5 ">
      <h1><bdi>ABSTRACT</bdi></h1>
      <div class="row align-items-center">
        <div class="col-lg-4 mb-4  text-center text-md-start">
          <div class="text">

            <p class="" style="color:white;">
              An underwater ROV is a robotic vehicle that can go from the water surface to deep oceans and is used to
              observe and complete tasks by the ROV user. You can usually spot an ROV because of its design; they have
              multiple propeller thrusters pointing in various directions. The configuration of the thrusters allow the
              ROV to be controlled to stay in a fixed position which allows it to visually inspect or to carry out work
              using its gripper. Underwater ROVs also have a tether (an electrical cable) that connects them to the
              surface or wherever the control station is located.
            </p>

          </div>
        </div>


        <!-- slide begin -->
        <div id="carouselExampleControls" class="carousel h-100 slide col-lg-8 mb-4  text-center text-md-start"
          data-bs-ride="carousel">
          <div class="carousel-inner h-100">
            <div class="carousel-item active text-center text-md-end">
              <img src="images/ROV1.jpg" class="img-fluid">
            </div>
            <div class="carousel-item text-center text-md-end">
              <img src="images/ROV2.jpg" class="img-fluid">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- slide end -->

        <!-- <img src="images/mine4.jpg" class="img-fluid">
              
                    <img src="images/mine5.jpg" class="img-fluid"> -->


      </div>
    </div>
  </div>





  <!-- MINESWEEPER participations -->
  <div class="abstract  my-4 mx-5 text-center pb-5 pt-5">
    <div class="container  pb-5 ">
      <h1><bdi>ROV participations</bdi></h1>
      <div class="row align-items-center">
        <div class="col-lg-12 mb-8  text-center text-md-start">
          <div class="text">

            <p class=" fs-7" style="color:white;">
              Since 2015 we started participating in Mate ROV competition and got 13th in our first time, year after
              year our generations continued developing the ROV and managed to win 13th in 2016 and 4th place in 2017
              which was a major step.
              In 2018 we won 11th place and "No Pain, No Gain" Award and then decided to push it even further and spend
              more time developing so we skipped 2019 and joined the 2020 edition, but due to Covid-19 the competition
              was cancelled.
              Later that year another competition started which is UWR Challenges, so we decided to participate and we
              won 6th place, "Best Presentation" Award and one of our team members (Amira Waleed) won "Best effective
              Wavemaker" Award.
              We didn't stop there, and in 2021 we decided to join a new competition "إبداع" the 9th edition, the
              technology and ROV field, and we managed to win 2nd place in Egypt.
              This year we are participating in Mate ROV 2022, and the competition will be held on 18-20 of May. We're
              hoping our team will be able to exceed our expectations and lead us to to the international Competition in
              California, USA.
            </p>

          </div>
        </div>


        <!-- slide begin -->
        <div id="carouselExampleControls2" class="carousel w-100 h-100 slide col-lg-10 mb-8  text-center text-md-start"
          data-bs-ride="carousel">
          <div class="carousel-inner w-100 h-100">
            <div class="carousel-item active text-center text-md-end">
              <img src="images/ROV5.jpg" class="img-fluid">
            </div>
            <div class="carousel-item text-center text-md-end">
              <img src="images/ROV3.jpg" class="img-fluid">
            </div>
            <div class="carousel-item text-center text-md-end">
              <img src="images/ROV4.jpg" class="img-fluid">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- slide end -->
      </div>
    </div>
  </div>



  <!-- footer -->
  <div id="section6" class="sectionns">
    <footer>
      <a></a>
      <div class="social">
        <a href="https://www.facebook.com/robotics.assiut/"><img
            src="images/if_facebook_social_media_online_1005353.svg" class="wow bounceInRight " data-wow-duration="1.7s"
            data-wow-delay=".4s"></a>
        <a href="https://www.youtube.com/channel/UCdjCScWUwuZ11Rj5YEZ7BqQ"><img
            src="images/if_youtube_social_media_online_1005320.svg" class="wow bounceInRight " data-wow-duration="1.7s"
            data-wow-delay=".7s"></a>
        <a href="https://www.linkedin.com/company/assiut-robotics/"><img
            src="images/if_linkedin_social_media_online_1005341.svg" class="wow bounceInRight " data-wow-duration="1.7s"
            data-wow-delay="1s"></a>
      </div>
      <div>
        <p style=" color: #0ca4a9;" class="wow fadeIn" data-wow-delay=".7s" data-wow-duration="4s">All Copy rights to
          &copy ASSIUT ROBOTICS</p>
      </div>
    </footer>
  </div>

  <!-- script -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>