/*Text*/

#container {
    z-index: -10;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100pt;
    top: 15px;
    left: 0;
    filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    color: #39a7ff;
    font-family: "Raleway", sans-serif;
    font-size: 90pt;
    text-align: center;
    user-select: none;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: black;
}

@media screen and (max-width: 768px) {

    #text1,
    #text2 {
        font-size: 55pt;
    }

    h1 {
        font-size: 2.5em;
    }

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0em 1em 0em 1em;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.mb-2 {
    margin-bottom: 2em;
}

.column {
    width: 90%;
    padding: 0.5em 0;
}

.card {
    position: relative;
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
    /* padding: 3.5em 1em; */
    border-radius: 0.6em;
    color: #1f003b;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    height: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.card .img-container {
    width: 8em;
    height: 8em;
    background-color: #39a7ff;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
    perspective: 1000px;
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}

.card .card-description {
    display: none;
    position: absolute;
    top: 0;
    transform: translate(15%, -80%);
    background-color: #1073b1;
    padding: 1em;
    color: white;
    border-radius: 0.6em;
    box-shadow: 0 0 1.2em rgba(25, 0, 58, 0.5);
    text-align: center;
    z-index: 100;
    max-width: 285px;
    width: 100%;
    -webkit-transform: translate(10%, -80%);
    -moz-transform: translate(15%, -80%);
    -ms-transform: translate(15%, -80%);
    -o-transform: translate(15%, -80%);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    max-height: 250px;
}

.card:hover {
    background-color: #a9d2fc;
    color: white;
    box-shadow: 0 0 2.4em rgba(14, 0, 33, 0.3);
}

.card:hover .img-container {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.card:hover .card-description {
    display: block;
}

.fade22 {
    animation-name: fadeAnim22;
    animation-duration: 500ms;
}

@keyframes fadeAnim22 {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

.card img {
    width: 100%;
    border-radius: 50%;
}

.card h3 {
    font-weight: 500;
    width: 95%;
    margin: auto;
}

.card p {
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
}

.card a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
}

.above-container {
    position: relative;
    width: 100%;
    height: 150px;
}

@media screen and (min-width: 992px) {
    section {
        padding: 1em;
    }

    .row {
        padding: 2em 1em;
    }

    .column {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 1em;
    }
    .above-container {
        position: relative;
        width: 100%;
        height: 160px;
    }
}









/* ================================slider image    start============================= */


.image-slider {
    margin: auto;
    display: flex;
    flex-flow: column;
    width: clamp(360px, 96vw, 830px);
    aspect-ratio: 16 / 9;
    min-height: 300px;
    overflow: hidden;
    border-radius: 8px;
    container-type: inline-size;
    contain: content;
    background-color: #0006;
    box-shadow:  rgba(0, 0, 0, 0.2) 0px 1px 2px, rgba(0, 0, 0, 0.3) 0px 2px 4px,
                 rgba(0, 0, 0, 0.25) 0px 4px 8px, rgba(0, 0, 0, 0.2) 0px 8px 16px,
                 rgba(0, 0, 0, 0.15) 0px 16px 32px;
}

.slider__content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.slider-control--button {
    border: 0;
    background: 0;
    outline: 0;
    cursor: pointer;
    place-content: center;
    padding-inline: 3vw;
    z-index: 1;
    display: grid;
}

.icon {
    height: 2rem;
    width: 2rem;
    fill: var(--icon-default);
    border-radius: 50%;
}

.slider-control--button:where(:hover) {
    background-image: linear-gradient(
        to var(--position),
        #0000 0%,
        #0002,
        80%,
        #0006 100%
    );
    .icon {
        fill: var(--icon-accent);
        background: #0001;
    }
}

.slider-control--button:active {
    outline: 0.2em solid hsl(204 100 53);
    outline-offset: -0.5em;
}

.prev-button {
    --position: left;
}
.next-button {
    --position: right;
}

.image-display {
    
    position: fixed;
    
    inset: 0;
}
.image-slider img {
    
    /* position: fixed; */
    animation: anim 1s  forwards ;
    /* inset: 0; */
}

@keyframes anim {
    from{
        transform: translateY(-90%);
        opacity: 0.1;
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}

.slider-navigation {
    z-index: 10;
    display: grid;
    grid-auto-flow: column;
    /* grid-template-columns: repeat(6, 1fr); */
    grid-auto-columns: 100%;
    gap: 1.25rem;
    padding: 1rem;
    place-content: center;
    background-color: var(--navigation-color);
    backdrop-filter: blur(6px);
}

.nav-button {
    display: grid;
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border: 0;
    aspect-ratio: 16 / 9;
    transition: filter 1s linear, scale 1s ease;
}

.thumbnail {
    display: block;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.nav-button[aria-selected="true"] {
    scale: 1.1;
}

.nav-button[aria-selected="true"],
.nav-button:focus-visible {
    outline: 0.2em solid var(--active-color);
    outline-offset: 0.2em;
}

.nav-button[aria-selected="false"] {
    filter: opacity(0.7);
}

.nav-button[aria-selected="false"]:where(:hover, :focus-visible) {
    filter: opacity(1);
}

@container (max-width: 660px) {
    .nav-button:not(:has(img)) {
        background-color: rgb(241, 235, 232);
    }

    .slider-navigation {
        display: flex;
        justify-content: center;
        padding-block: 1.5em;
    }

    .nav-button {
        inline-size: 0.625rem;
        aspect-ratio: 1;
        border-radius: 50%;
    }

    .nav-button > .thumbnail {
        display: none;
    }

    .nav-button[aria-selected="true"] {
        background-color: black;
        scale: 1.5;
    }
}

