<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>
    <link rel="stylesheet" href="component.css">
</head>

<body>

    <div class="input">
        <input class="search-input" type="search" onfocus="" placeholder="Search">
    </div>

    <section class="components">
        <div class="component box">
            <img src="../all-images/components/arduino_uno.webp" alt="">
            <div class="name">Arduino Uno</div>

        </div>
        <div class="component box">
            <img src="../all-images/components/breadboard.webp" alt="">
            <div class="name">Breadboard</div>
        </div>
    </section>

    <section class="components" id="mainComponents">
    </section>


    <script src="component.js"></script>

</body>

</html>