.components{
    margin-top: 30px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
    justify-content: center;
    /* justify-items: center; */
}

.component{
    text-align: center;
    width: 300px;
    /* background-color: aqua; */

}

.component>img{
    margin-bottom: 10px;
    width: 100%;

}

.input {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.input input {
    width: 80%;
    background-color: rgb(53, 49, 49);
    color: white;
    height: max-content;
    margin: 4px 0px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}