body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../all-images/background-all-pages.jpg");
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 60vh;
    width: 40vw;
    margin: auto;
    /* content alignments */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, #2aa9f3 5%, #8ecff2);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2%;
}
@media screen and (max-width: 1024px){
    .container{
        width: 80vw;
    }
    
}
h1{
    font-size: 2.5rem;
    text-align: center;
}
form{
    width: 80%;
    height: 60%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5%;
}
input{
    width: 90%;
    height: 25%;
    border-radius: 10px ;
    border: none;
    outline: none;
    font-size: 1.2rem;
    opacity: 0.8;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.btn{
    width: 90%;
    height: 20%;
    background-color: #3498db;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.disabled{
    animation: disabled 1s forwards;
}
@keyframes disabled{
    to{
        opacity: 0;
        transform: translateX(-100%);
        display: none;
    }
}


/* binoooooooooooooo */

@keyframes loadbody {
    0%{
        transform:   translateY(0px);
    }
    50%{
        transform:   translateY(-50%);

    }
    100%{
        transform:   translateY(0px);
    }
}

.bino{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #2daee2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.bino_head {
    margin-top: 2% ;
    width: 60%;
    height: 30%;
    background-color: aliceblue;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 15%;
}
.eye{
    margin-bottom: 10%;
    background-color: #2daee2;
    width: 15%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}
.load{
    animation: loadbody 1.25s infinite ease-in-out ; 
}
.load .bino_head div{
    animation: loadbody 1.25s infinite ease-in-out ; 
}
.disabling{
    display: none !important;
}