<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
    </head>
    <body>


        
    <h1>This is a test!</h1>
    <script>
        const getMembersData = () => {
            return fetch('https://assiut-robotics-website.vercel.app/members/getAllMembers?fbclid=IwAR1Vc2AE5I-B_p_kzbq7jP9UOB4FjivhIUGUVZcmEFVxuQnYWCGD_XEJ-0E')
                .then(data => data.json())
        }
        getMembersData().then((data) => {
            console.log(data);
            return data.data.members;
        }).then((data) => {
            data.forEach(function(mem) {
                if(!mem.confirm)
                console.log(mem.name)
            });
        })
        .catch(error => console.log('ERROR!'))
    </script>
    </body>
</html>