<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="add-blog.css">
    <title> ADD A BLOG</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <img id="logo" src="../images/logo.png">
    <div class="container">

        <form id="addBlog" action="../../blogs/add" method="post">
            <h2>ADD A BLOG</h2>
            <div class="input-box">
                <input type="text" name="title" placeholder="title" required>
                <!-- <i class='bx bxs-user' style="margin-left: 85%;"></i> -->
            </div>
            <div class="input-box">
                <input type="text" name="content" placeholder="content" required>
                <!-- <i class='bx bxs-lock'  style="margin-left: 85%;"></i> -->
            </div>

            <div class="input-box">
                <input type="date" name="date" required>
                <!-- <i class='bx bxs-lock'  style="margin-left: 85%;"></i> -->
            </div>


            <button type="submit" class="btn">submit</button>
            <div style="color: rgb(241, 95, 95);" class="message">

            </div>
            <div class="register-link">
                <p>Not a member? <a href="signup.html">Creat account</a></p>
            </div>
        </form>
    </div>

    <script>
        try {

            document.forms['addBlog'].addEventListener('submit', async (event) => {
                event.preventDefault();
                // TODO do something here to show user that form is being submitted
                const response = await fetch(event.target.action, {
                    method: 'POST',
                    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                });
                let JSONresponse = await response.json();
                if (!response.ok) {

                    console.log(JSONresponse);
                    document.querySelector(".message").innerHTML = JSONresponse.message;

                } else {
                    document.querySelector(".message").innerHTML = JSONresponse.message;

                    // console.log('aaa',JSONresponse);
                    // window.localStorage.setItem('token',JSONresponse.token);
                    // document.querySelector(".message").innerHTML=JSONresponse.message;
                    // window.location.href="../Profile page/index.html"
                }



            })

        } catch (error) {
            console.log(error);
        }
    </script>
</body>

</html>