<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA- compatible" content="IE=edge" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Assiut Robotics Blog</title>
    <link rel="stylesheet" href="style.css?v=1.0" />
    <link rel="stylesheet" href="../main/footerAndheader.css" />
    <link rel="shortcut icon" href="../all-images/logo.ico" />
    <!-- <link rel="stylesheet" href="css/all.min.css" /> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body id="body">

    <!-- header -->
    <div id="myUniqueHeaderID"></div>

    <header class="header">
        <img class="logo" src="../all-images/logo.png" alt="Logo">
        <div class="header-div">
            <h1>The Assiut Robotics</h1>
            <span>Blog</span>
        </div>
        <!-- <img class="logo" src="images/images/0beno.png" alt=""> -->
    </header>
    <div class="page-container">
        <section class="section1">
            <i class="fa-solid fa-thumbtack"></i>
            <div class="text-container">
                <div class="content-container">
                    <h1>Lorem ipsum is simply dummy text of the printing and typesetting industry.</h1>
                    <p class="text-content">
                        Lorem ipsum has been the industry's standard dummy text ever since the 1500s.
                        when an unknown printer took a galley of type and scrambled,it to make a type specimen book.
                        it has survived not only five centuries but also the leap into electronic typesetting, remaining
                        essentially unchanged.
                        lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer
                        took a galley of type and scrambled type and scrambled.
                    </p>
                    <a href="#" class="toggle-content">Show more</a>
                    <div class="Date">
                        <img class="calender" src="../all-images/Calender.png" alt="">
                        <p class="date-text">16 SEPTEMPER 2022</p>
                    </div>
                </div>
                <div class="BLOG_IMG">
                    <img src="../all-images/blogs/WWW.jpeg" alt="BLOG">
                </div>
            </div>
        </section>
        <div class="unPinnedBlogs">
            <section class="section">
                <div class="text-container">
                    <div class="content-container">
                        <h1>Lorem ipsum is simply dummy text of the printing and typesetting industry.</h1>
                        <p class="text-content">
                            Lorem ipsum has been the industry's standard dummy text ever since the 1500s.
                            when an unknown printer took a galley of type and scrambled,it to make a type specimen book.
                            it has survived not only five centuries but also the leap into electronic typesetting,
                            remaining
                            essentially unchanged.
                            lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown
                            printer
                            took a galley of type and scrambled type and scrambled.
                        </p>
                        <a href="#" class="toggle-content">Show more</a>
                        <div class="Date">
                            <img class="calender" src="../all-images/Calender.png" alt="">
                            <p class="date-text">16 SEPTEMPER 2022</p>
                        </div>
                    </div>
                    <div class="BLOG_IMG2">
                        <img src="../all-images/blogs/CCC.jpeg" alt="BLOG">
                    </div>
                </div>
            </section>

            <section class="section">
                <div class="text-container">
                    <div class="content-container">
                        <h1>Lorem ipsum is simply dummy text of the printing and typesetting industry.</h1>
                        <p class="text-content">
                            Lorem ipsum has been the industry's standard dummy text ever since the 1500s.
                            when an unknown printer took a galley of type and scrambled,it to make a type specimen book.
                            it has survived not only five centuries but also the leap into electronic typesetting,
                            remaining
                            essentially unchanged.
                            lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an
                            unknown
                            printer
                            took a galley of type and scrambled type and scrambled.
                        </p>
                        <a href="#" class="toggle-content">Show more</a>
                        <div class="Date">
                            <img class="calender" src="../all-images/Calender.png" alt="">
                            <p class="date-text">16 SEPTEMPER 2022</p>
                        </div>
                    </div>
                    <div class="BLOG_IMG2">
                        <img src="../all-images/blogs/VVV.jpeg" alt="BLOG">
                    </div>
                </div>
            </section>
        </div>
        <!--Footer-->
        <div id="myUniqueFooterID"></div>

        <script src="../main/footerAndheader.js" defer></script>
        <script src="script.js?v=1.0"></script>

</body>

</html>