<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA- compatible" content="IE=edge" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Assiut Robotics Blog</title>
    <link rel="stylesheet" href="style.css?v=1.0" />
    <link rel="stylesheet" href="../main/footerAndheader.css" />
    <link rel="shortcut icon" href="../all-images/logo.ico" />
    <!-- <link rel="stylesheet" href="css/all.min.css" /> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
    <!-- including fontawesome -->
    <script src="https://kit.fontawesome.com/79904cb93e.js" crossorigin="anonymous"></script>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body id="body" class="focus nofocus">
   
    <!-- header -->
    <div id="myUniqueHeaderID"></div>

    <header class="header">
       
        <img class="logo" src="../all-images/logo.png" alt="Logo">
        <div class="header-div">
            <h1>The Assiut Robotics</h1>
            <span>Blog</span>
        </div>
        <!-- <img class="logo" src="images/images/0beno.png" alt=""> -->
    </header>
    <div class="page-container">
        <!-- // div/ two divs one for text and one for image / text div has h1, p, a, div of calender with img and p / img div has img -->
        <section class="pinnedBlog" id="1">  
            <!-- <i class="fa-solid fa-thumbtack"></i> -->
            <div class="text-container">  
                <div class="content-container">
                    <!-- Here will be h1 when no focused -->
                    <h1 class="title" style="color: var(--defaultColor);">Lorem ipsum is simply dummy text of the printing and typesetting industry.</h1>

                    <p class="text-content">
                        Lorem ipsum has been the industry's standard dummy text ever since the 1500s.
                        when an unknown printer took a galley of type and scrambled,it to make a type specimen book.
                        it has survived not only five centuries but also the leap into electronic typesetting, remaining
                        essentially unchanged.
                    </p>
                    <p style="text-align: justify; overflow: scroll;" class="disabled animateIt">
                        <!-- Here will be All content when focused and class animateIt-->
                    
                        lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer
                    took a galley of type and scrambled type and scrambled.
                    Lorem ipsum has been the industry's standard dummy text ever since the 1500s.
                    when an unknown printer took a galley of type and scrambled,it to make a type specimen book.
                    it has survived not only five centuries but also the leap into electronic typesetting, remaining
                    essentially unchanged.
                    lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer
                    took a galley of type and scrambled type and scrambled.
                    Lorem ipsum has been the industry's standard dummy text ever since the 1500s.
                    when an unknown printer took a galley of type and scrambled,it to make a type specimen book.
                    it has survived not only five centuries but also the leap into electronic typesetting, remaining
                    essentially unchanged.
                    lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer
                    took a galley of type and scrambled type and scrambled.
                    Lorem ipsum has been the industry's standard dummy text ever since the 1500s.
                    when an unknown printer took a galley of type and scrambled,it to make a type specimen book.
                    it has survived not only five centuries but also the leap into electronic typesetting, remaining
                    essentially unchanged.
                    lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer
                    took a galley of type and scrambled type and scrambled.
                    Lorem ipsum has been the industry's standard dummy text ever since the 1500s.
                    when an unknown printer took a galley of type and scrambled,it to make a type specimen book.
                    it has survived not only five centuries but also the leap into electronic typesetting, remaining
                    essentially unchanged.
                    lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer
                    took a galley of type and scrambled type and scrambled.
                    Lorem ipsum has been the industry's standard dummy text ever since the 1500s.
                    when an unknown printer took a galley of type and scrambled,it to make a type specimen book.
                    it has survived not only five centuries but also the leap into electronic typesetting, remaining
                    essentially unchanged.
                    lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer
                    took a galley of type and scrambled type and scrambled.
                    Lorem ipsum has been the industry's standard dummy text ever since the 1500s.
                    when an unknown printer took a galley of type and scrambled,it to make a type specimen book.
                    it has survived not only five centuries but also the leap into electronic typesetting, remaining
                    essentially unchanged.
                    lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer
                    took a galley of type and scrambled type and scrambled.
                    </p>
                    <a  class="toggle-content" id="1"><i class="fa-solid fa-caret-down" style="color: #2eade4; scale: 4;"></i></a>
                    <div class="Date">
                        <img class="calender" src="../all-images/Calender.png" alt="">
                        <p class="date-text">16 SEPTEMPER 2022</p>
                    </div>
                </div>
                <div class="BLOG_IMG">
                    <!-- Here will be h1 when focus -->
                    <img src="../all-images/blogs/WWW.jpeg" alt="BLOG">

                </div>
            </div>
        </section>
        <section class="unPinnedBlogs">
            <section class="section " id="2">
                <div class="text-container">
                    <div class="content-container">
                        <h1 class="title" style="color: var(--defaultColor);">Lorem ipsum is simply dummy text of the printing and typesetting industry.</h1>
                        <p class="text-content">
                            Lorem ipsum has been the industry's standard dummy text ever since the 1500s.
                            when an unknown printer took a galley of type and scrambled,it to make a type specimen book.
                            it has survived not only five centuries but also the leap into electronic typesetting, remaining
                            essentially unchanged.
                            lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                            printer
                            took a galley of type and scrambled type and scrambled.
                        </p>
                        <p style="text-align: justify; overflow: scroll;" class="disabled animateIt">
                            <!-- Here will be All content when focused and class animateIt-->
                        
                            lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer
                        took a galley of type and scrambled type and scrambled.
                        Lorem ipsum has been the industry's standard dummy text ever since the 1500s.
                        when an unknown printer took a galley of type and scrambled,it to make a type specimen book.
                        it has survived not only five centuries but also the leap into electronic typesetting, remaining
                        essentially unchanged.
                        lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer
                        took a galley of type and scrambled type and scrambled.
                        Lorem ipsum has been the industry's standard dummy text ever since the 1500s.
                        when an unknown printer took a galley of type and scrambled,it to make a type specimen book.
                        it has survived not only five centuries but also the leap into electronic typesetting, remaining
                        essentially unchanged.
                        lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer
                        took a galley of type and scrambled type and scrambled.
                        Lorem ipsum has been the industry's standard dummy text ever since the 1500s.
                        when an unknown printer took a galley of type and scrambled,it to make a type specimen book.
                        it has survived not only five centuries but also the leap into electronic typesetting, remaining
                        essentially unchanged.
                        lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer
                        took a galley of type and scrambled type and scrambled.
                        Lorem ipsum has been the industry's standard dummy text ever since the 1500s.
                        when an unknown printer took a galley of type and scrambled,it to make a type specimen book.
                        it has survived not only five centuries but also the leap into electronic typesetting, remaining
                        essentially unchanged.
                        lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer
                        took a galley of type and scrambled type and scrambled.
                        Lorem ipsum has been the industry's standard dummy text ever since the 1500s.
                        when an unknown printer took a galley of type and scrambled,it to make a type specimen book.
                        it has survived not only five centuries but also the leap into electronic typesetting, remaining
                        essentially unchanged.
                        lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer
                        took a galley of type and scrambled type and scrambled.
                        Lorem ipsum has been the industry's standard dummy text ever since the 1500s.
                        when an unknown printer took a galley of type and scrambled,it to make a type specimen book.
                        it has survived not only five centuries but also the leap into electronic typesetting, remaining
                        essentially unchanged.
                        lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer
                        took a galley of type and scrambled type and scrambled.
                        </p>
                        <a  class="toggle-content" id="2"><i class="fa-solid fa-caret-down" style="color: #2eade4; scale: 4;"></i></a>
                        <div class="Date">
                            <img class="calender" src="../all-images/Calender.png" alt="">
                            <p class="date-text">16 SEPTEMPER 2022</p>
                        </div>
                    </div>
                    <div class="BLOG_IMG">
                        <img src="../all-images/blogs/CCC.jpeg" alt="BLOG">
                    </div>
                </div>
            </section>
            <section class="section" id="3">
                <div class="text-container">
                    <div class="content-container">
                        <h1>Lorem ipsum is simply dummy text of the printing and typesetting industry.</h1>
                        <p class="text-content">
                            Lorem ipsum has been the industry's standard dummy text ever since the 1500s.
                            when an unknown printer took a galley of type and scrambled,it to make a type specimen book.
                            it has survived not only five centuries but also the leap into electronic typesetting, remaining
                            essentially unchanged.
                            lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                            printer
                            took a galley of type and scrambled type and scrambled.
                        </p>
                        <a href="#" class="toggle-content" id="3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#2eade4" d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg></a>
                        <div class="Date">
                            <img class="calender" src="../all-images/Calender.png" alt="">
                            <p class="date-text">16 SEPTEMPER 2022</p>
                        </div>
                    </div>
                    <div class="BLOG_IMG2">
                        <img src="../all-images/blogs/VVV.jpeg" alt="BLOG">
                    </div>
                </div>
            </section>
        </section>
    </div>
        <!--Footer-->
    <div id="myUniqueFooterID"></div>

    <script src="../main/footerAndheader.js" defer></script>
    <script src="script.js?v=1.0"></script>

</body>

</html>