
:root{
    --defaultColor: #2eade4;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.pinnedBlog {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 85%;
    flex-direction: column;
    margin: 5rem auto 0 auto;
    box-shadow: 5px 6px 3px #888888;
    background-color: rgb(43.9875, 174.012, 226.0065, 0.3);
    align-items: flex-end;
}

.pinnedBlog h1 {
    margin-top: 0;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../all-images/background.jpg);
    padding: 40px;
    width: 75%;
    margin: 5rem auto 0 auto;
    box-shadow: 5px 6px 3px #888888;
}

.logo {
    /* clip-path: circle(50% at 50% 50%); */
    width: 200px;
    margin: 8px;
}

.section h1 {
    color: #5cb4fe;
    margin-top: 0;
}

.section p {
    margin-right: 15px;
}

.BLOG_IMG {
    width: 350px;
    height: 350px;
}

.BLOG_IMG2 {
    width: 250px;
    height: 250px;
}

.BLOG_IMG img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* /* /* clip-path: path('0% 0%, 75% 0%, 100% 50%, 75% 1 */
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}

.BLOG_IMG2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* /* /* clip-path: path('0% 0%, 75% 0%, 100% 50%, 75% 1 */
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}

.section label {
    margin-top: 15px;
    color: rgb(42, 169, 243);
    text-decoration: underline;
    cursor: pointer;
    font-weight: 400;
}

.check :hover {
    color: #2caee2;
    transition: all ease 0.3s;
}

/* New Styles */

.text-content {
    overflow: hidden;
    margin: 0 0 3px 0;
}

.text-content.truncated {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.toggle-content {
    /* display: none; */
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.toggle-content.show {
    display: inline;
}


.calender {
    height: 35px;
    width: 35px;
    display: flex;
    flex-wrap: nowrap;
}

.date-text {
    font-size: 12px;
    margin-left: 5px;
}

.text-container {
    display: flex;
    width: 100%;
    margin: auto 5px;
    flex: 1 0 200px;
    flex-direction: row;
    align-items: center;
}

.Date {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    margin-top: 5px;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    margin-right: 20px;
    flex: 1 0 200px;
    transition: all 0.3s ease;
}
.content-container h1{
    margin-bottom: 1rem;
}
.text-content{
    text-align: justify;
    width: 90%;
}
.content-container a{
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.page-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.unPinnedBlogs {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.header-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.header h1 {
    font-size: 40px;
    padding: 0 10px;
    margin: 0;
}

.header span {
    color: white;
    background-color: rgb(110, 168, 253);
    font-family: 'BROTHER';
    padding: 10px;
    border-radius: 9px;
    font-size: 24px;
}

@media screen and (max-width: 980px) {
    .BLOG_IMG {
        width: 100px;
        height: 100px;
    }

    .BLOG_IMG2 {
        width: 75px;
        height: 75px;
    }

    .pinnedBlog {
        padding: 20px;
        width: 90%;
    }

    .pinnedBlog .content-container {
        flex: 1 0 100px;
    }

    .pinnedBlog h1 {
        font-size: 16px;
    }

    .pinnedBlog .text-content {
        font-size: 12px;
    }

    .pinnedBlog .toggle-content {
        font-size: 12px;
    }

    .pinnedBlog .calender {
        height: 25px;
        width: 25px;
    }

    .pinnedBlog .date-text {
        font-size: 10px;
    }

    .header {
        padding: 10px;
    }

    .header h1 {
        padding: 8px;
        border-radius: 9px;
        font-size: 28px;
    }

    .header span {
        padding: 8px;
        border-radius: 9px;
        font-size: 18px;
    }

    .section {
        padding: 20px;
        width: 85%;
    }

    .section h1 {
        font-size: 14px;
    }

    .section p {
        font-size: 12px;
    }

    .section .content-container {
        flex: 1 0 100px;
    }

    .section .toggle-content {
        font-size: 12px;
    }

    .section .calender {
        height: 25px;
        width: 25px;
    }

    .section .date-text {
        font-size: 10px;
    }
}


/* Styling the focus shap */

.focused{
    animation: large 1s forwards;
    position: static;
    padding: 1%;
    height: fit-content;
    overflow: hidden;
    background-color: #eef0e5;
    opacity: 1;
}
.focus::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: darking 1s forwards;
    z-index: 0;
}
@keyframes darking {
    to{
        background-color: rgba(0, 0, 0, 0.5);
    }
}
.focused .text-container{
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
}
@media screen and (max-width: 980px) {
    @keyframes large {
        to{
           scale: 1.05;
        box-shadow: 0px 0px 10px 5px #000000; 
        }
    }
    
}
@media screen and (min-width: 980px){
@keyframes large {
    to{
       scale: 1.1;
    box-shadow: 0px 0px 10px 5px #000000;

        
    }
}}
.focused .text-container .animateIt {
    width: 100%;
    text-align: justify;
    max-height: 40vh;
}

.focused .BLOG_IMG{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    height: 5rem;
}
.focused .BLOG_IMG img{
    width:  5rem;   
    height: 5rem; 
    object-fit: fill;
    object-position: center;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);

}
.focused .content-container{
    margin: 0;
}
.focused .content-container a{
    animation: rotating 0.1s forwards;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
}
@keyframes rotating{
    to{
        transform: rotateZ(180deg);
    }
}
i:hover{
    animation: move 1s infinite linear;
}
@keyframes move{
    0%{
        transform: translateY(0);
        
    }
    25%{
        transform: translateY(-1px);
    }
    75%{
        transform: translateY(1px);
    }
    100%{
        transform: translateY(0);
    }
    
}
.Noreadmore{
    display: none;
}
.focused .animateIt{
    height: fit-content;
    padding-bottom: 1rem;
    overflow: hidden;
    animation: veiw 5s forwards;
}
@keyframes veiw{
    from{
        max-height: 0;
    }
}

.disabled{
    display: none;
}
/* Unfocus shap */

.unfocused{
    animation: small 1s forwards;
    position: relative;
    padding: 1%;
    overflow: hidden;
    opacity: 1;
}

@keyframes small {
    to{
       scale: 1;
       box-shadow: 5px 6px 3px #888888;
    }
    
}

.unfocused .content-container a{
    transform: rotateZ(180deg);
    animation: InverseRotating 1s forwards;
}
@keyframes InverseRotating {
    to{
        transform: rotateZ(0deg);
    }
}
.unfocused .animateIt{
    height: fit-content;
    overflow: hidden;
    animation: mini 2s forwards;
}
@keyframes mini{
    to{
        max-height: 0;
    }
}

.nofocus::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: lighting 1s forwards;
    z-index: 0;
}
@keyframes lighting {
    to{
        background-color: rgba(0, 0, 0, 0);
    }
}