body {
    font-family: Arial, sans-serif;
    color: #1f003b;
}

.page-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}

.header {
    background-color: #a9d2fc;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
    width: 100%;
}

.header h1 {
    margin: 0;
    color: #1f003b;
}

.about-us {
    padding: 2em 1em;
    text-align: center;
}

.about-us .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 2em;
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
    border-radius: 0.6em;
}

.about-us h2 {
    color: #1f003b;
    margin-bottom: 1em;
}

.about-us p {
    color: #333;
    line-height: 1.6;
}

.footer {
    background-color: #3f0077;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 90%;
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.2);
    border-radius: 50px;
    align-self: center;
    display: block;
}

.footer p {
    margin: 0;
}