<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <style>
            table, th, td { border: 3px solid rgb(77, 37, 82); border-collapse: collapse; }
            td, th {padding: 10px;}
        </style>
        <title>Admin</title>
    </head>
    <body>
        <h2>Assiut Robotics members Data</h2>
        <button id="btn" style="background-color: rgb(255, 207, 87);" > view data </button>
        <select name="committee" id="committee">
            <option value="All">All</option>
            <option value="web">web</option>
            <option value="AC mechanic">AC Mechanic</option>
            <option value="AC electric">AC Electric</option>
            <option value="BR">BR</option>
            <option value="OC">OC</option>
            <option value="media">Media</option>
            <option value="hr">HR</option>
          </select>
        <script>
            const ele=document.getElementById("committee");
            const role=window.localStorage.getItem("role");
            let com;
            if(role!="leader"){
                ele.style.display="none";
                com=window.localStorage.getItem("committee")
            }else{
                com = document.getElementById('committee').value;
            }
            
        </script>  
        <select name="gender" id="gender">
            <option value="All">All</option>
            <option value="male">male</option>
            <option value="1female">female</option>
          </select>
        <select name="role" id="role">
            <option value="All">All</option>
            <option value="member">member</option>
            <option value="admin">admin</option>
          </select>
        <select name="confirm" id="confirm">
            <option value="All">All</option>
            <option value="true">confirmed</option>
            <option value="false">not confirmed</option>
          </select>
        <br>
        <h3> Members Data: </h3> 
        <div id="container"></div>
    <script>
        const getMembersData = () => {
            return fetch('https://assiut-robotics-website.vercel.app/members/getAllMembers?fbclid=IwAR1Vc2AE5I-B_p_kzbq7jP9UOB4FjivhIUGUVZcmEFVxuQnYWCGD_XEJ-0E')
                .then(data => data.json())
        }
        getMembersData().then((data) => {
            console.log(data);
            return data.data.members;
        }).then((jsonData) => {
            document.getElementById('btn').onclick = function(){
            let container = $("#container");
            let table = $("<table>");
            let cols = Object.keys(jsonData[0]);
            let thead = $("<thead>");
            let tr = $("<tr>");
            $.each(cols, function(i, item){
                let th = $("<th>");
                th.text(item);
                tr.append(th);
            });
            thead.append(tr);
            table.append(tr)
            
            let gen = document.getElementById('gender').value;
            let rol = document.getElementById('role').value;
            let con = document.getElementById('confirm').value;
            $.each(jsonData, function(i, item){
                if(((item.committee == com) || (com == "All"))
                && ((item.gender == gen) || (gen == "All"))
                && ((item.role == rol) || (rol == "All"))
                && ((item.confirm.toString() == con) || (con == "All"))
                ){
                    let tr = $("<tr>");
                    let vals = Object.values(item);
                    $.each(vals, (i, elem) => {
                    let td = $("<td>");
                    td.text(elem);
                    tr.append(td);
                    });
                    table.append(tr);
                };
                
            });
            container.append(table)
        }
        })
        .catch(error => console.log('ERROR!'))
    </script>
    </body>
</html>